/* Theme */
@import "./theme.scss";

/* Grid */

/* Sections Styles */

section {
  overflow: hidden;
  min-height: 900px;

  .title {
    font-size: 54px;
    font-weight: 500;
  }
  .description {
    font-size: 28px;
    font-weight: 300;
    width: 80%;
  }
  .number {
    width: 50%;
    svg {
      width: 100%;
    }
  }
  .graphic {
    width: 100%;

    .animation {
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      width: 70%;
    }
  }
}

header {
  // background: #fff;
  width: 100%;
  height: 50px;
  padding: 17px;
}

.section-3 {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
  justify-items: center;
  min-height: 900px;
}

/* Positions */

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section-center {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .shield {
    text-align: center;
    .shield-text {
      .title {
        font-size: 16px;
        letter-spacing: 5px;
      }
      p {
        font-size: 8px;
      }
      button {
        font-size: 6px;
        background-color: #408bbd;
        padding: 5px 7px;
      }
    }
  }

  .section-3 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 7px;

    .title {
      font-size: 24px;
      font-weight: 500;
    }
    .description {
      font-size: 18px;
      font-weight: 300;
      width: 100%;
      opacity: 0.8;
    }
    .number {
      width: 20%;
    }
    .graphic {
      width: 100%;

      .animation {
        width: 100%;
      }
    }
  }
}
