@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik:wght@300&display=swap");

// :root {
//   --background-1: #061019;
//   --background-2: #0a1622;
//   --text-1: #fff;
//   --text-2: #cfd2d5;
//   --color-2: #009cb5;
// }

@import "theme";
@import "mixins";

/* Main Elemects */
* {
  margin: 0;
  padding: 0;
}

body {
  @include theme-aware("background", "backgroundColor");
  @include theme-aware("color", "textColor");
  // background: var(--background-1);
  // color: var(--text-1);
  /* font-family: "Rubik", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 1px;
}

.site {
  display: grid;
}

/* Normalize Default Elements */

h1 {
  font-family: "Bungee", cursive;
  font-size: 85em;
  margin: 30px auto;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--text-1);
}

/* Button */
.btn-cta {
  /* font-size: 32px; */
  color: #fff;
  background: var(--color-2);
  padding: 16px 7px;
  border-radius: 400px;
  margin: 10px;
}

/* Components */

/* Shield Component */
.shield {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 828px;
  width: 50vw;
  /* width: minmax(828px, 3fr); */
}
.shield:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.shield-text {
  text-align: center;
  /* font-size: 10px; */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shield-text .title {
  font-size: 4vw;
  letter-spacing: 15px;
  line-height: 1;
}

.shield-text p {
  font-size: 28px;
}
.shield-text hr {
  width: 170px;
  margin: 5% auto;
  /* margin: 50px auto; */
}
.shield-text button {
  font-size: 22px;
  width: 270px;
  margin-top: 30px;
}

/* Circle Shapes */

.circle {
  z-index: -1;
  border-radius: 50%;
  border: 2px solid #112435;
}

.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  border-radius: 50%;
}
.circle-small {
  width: 50%;
  background: #0a1622;
}
.circle-large {
  z-index: -2;
  width: 80%;
  background: #0a1622;
}
